.project {
  grid-column-gap: 60px;
  grid-row-gap: 14px;
  grid-template:
      ". Area"
      ". Area" / 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      ". Area"
      ". Area";
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
  display: grid;
}